* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Google Sans Regular";
  scroll-behavior: smooth;
}

body {
  background-color: #fefefe;
  justify-content: center;
}

/** Navbar CSS**/

header {
  width: 100%;
  height: 100px;
  background: rgb(255, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.anasayfa {
  text-decoration: none;
  font-size: 38px;
  color: white;
  font-style: italic;
}
.anasayfa:hover {
  color: red;
  transition: 0.4s;
}

.hamburger {
  display: none;
}

.nav-bar ul {
  display: flex;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.nav-bar ul li a {
  display: block;
  color: white;
  font-size: 18px;
  padding: 12px;
  padding-top: 28px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
  text-decoration: none;
}

.nav-bar ul li a:hover {
  color: rgb(0, 0, 0);
  transition: 0.5s;
}

.nav-bar ul li a.active {
  background: rgb(215, 26, 26);
  background: linear-gradient(
    180deg,
    rgba(215, 26, 26, 1) 0%,
    rgba(29, 26, 26, 1) 100%
  );
}

/** Navbar CSS end **/

/** Layout fixes **/
.credits a {
  margin-right: calc((100% - 1230px) / 2);
}

.nav-bar .topbar-social-icons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nav-bar .topbar-social-icons a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  opacity: 1;
  transition: opacity 0.3s;
  font-size: 16px;
  padding-right: 10px;
}

.nav-bar .topbar-social-icons span {
  text-decoration: none;
  color: rgb(255, 255, 255);
  opacity: 1;
  transition: opacity 0.3s;
  font-size: 18px;
  padding-right: 10px;
}

.nav-bar .topbar-social-icons a:hover {
  opacity: 0.5;
}

.nav-bar .topbar-social-icons span:nth-child(2) {
  margin-left: 24px;
}

#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  padding-right: 10px;
  height: 90%;
}

.list-item {
  line-height: 3;
  color: black;
}

.contact-text {
  font: 300 20px "Lato", sans-serif;
  letter-spacing: 1.9px;
  color: black;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: black;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #555;
  text-decoration: none;
}

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: white;
}

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 43px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27, 27, 27);
  /* cursor: pointer; */
  cursor: default;
  transition: all 0.3s ease-in-out;
}

/* .social-media-list li:hover {
  background-color: #fff;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #000;
} */

hr {
  border-color: rgba(255, 255, 255, 0.6);
}

/* Blockquote main style */
.blockquote {
  position: relative;
  font-family: "Barlow Condensed", sans-serif;
  max-width: 500px;
  margin: 80px auto;
  align-self: center;
}

Blockquote header .blockquote h1 {
  font-family: "Abril Fatface", cursive;
  position: relative;
  /* for pseudos */
  color: #292a2b;
  font-size: 2px;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  border: 2px solid black;
  border: solid 2px;
  border-radius: 20px;
  padding: 25px;
}

/* Blockquote right double quotes */
.blockquote h1:after {
  content: "";
  position: absolute;
  border-radius: 0 50px 0 0;
  width: 60px;
  height: 60px;
  bottom: -62px;
  left: 50px;
  border-bottom: none;
  border-left: none;
  z-index: 3;
}

/* Blockquote subheader */
.blockquote h4 {
  position: relative;
  color: black;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  padding-top: 15px;
  z-index: 1;
  margin-left: 150px;
  padding-left: 12px;
}

#width {
  width: 100px;
}

#Anasayfa {
  margin-top: 100px;
}

.a-box {
  display: inline-block;
  width: 320px;
  text-align: center;
  padding: 24px;
}

.img-container {
  height: 230px;
  width: 200px;
  overflow: hidden;
  border-radius: 0px 0px 20px 20px;
  display: inline-block;
}

.img-container:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.img-container img {
  transform: skew(0deg, -13deg);
  height: 250px;
  margin: -35px 0px 0px -70px;
}

.inner-skew {
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  padding: 0px;
  transform: skew(0deg, 13deg);
  font-size: 0px;
  margin: 30px 0px 0px 0px;
  background: #c8c2c2;
  height: 250px;
  width: 200px;
}

.text-container {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  background: #fff;
  margin: -120px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
}

.text-container h3 {
  margin: 20px 0px 10px 0px;
  color: #2a424b;
  font-size: 18px;
}

#above {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background: rgba(0, 0, 0, 0.966);
  color: white;
  border-radius: 50%;
  position: fixed;
  right: 34px;
  bottom: 24px;
  box-shadow: rgb(0 0 0 / 100%) 0px 4px 10px;
  z-index: 9999;
  cursor: pointer;
  font-weight: 600;
  transition: color 0.3s;
}

#above:hover {
  color: red;
}

/* increase header size after 600px */
@media all and (min-width: 600px) {
  .blockquote h1 {
    font-size: 24px;
    line-height: 1.2;
  }
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }

  .direct-contact-container,
  .form-horizontal {
    margin: 0 auto;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }

  .social-media-list li {
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {
  .direct-contact-container,
  .form-wrapper {
    float: none;
    margin: 0 auto;
  }

  .form-control,
  textarea {
    margin: 0 auto;
  }

  .name,
  .email,
  textarea {
    width: 280px;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }

  .social-media-list {
    left: 0;
  }

  .social-media-list li {
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}

@media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #fefefe;
    margin: 6px 0;
  }

  .nav-bar {
    height: 0px;
    position: absolute;
    top: 82px;
    left: 0;
    right: 0%;
    width: 100vw;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(255, 0, 0, 1) 100%
    );
    transition: 0.3s;
    overflow: hidden;
  }

  .nav-bar.active {
    margin-top: 17px;
    height: 425px;
  }

  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }

  .nav-bar.active ul {
    opacity: 1;
  }

  .nav-bar ul li a {
    margin-bottom: 12px;
  }

  .topbar-social-icons {
    display: none !important;
  }
}

#woodBtnGoster {
  margin-bottom: 40px;
}

#woodBtnGizle {
  margin-bottom: 40px;
}

@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 1399px) {
  .a-box {
    width: 33%;
  }
}

@media only screen and (max-width: 1199px) {
  .a-box {
    width: 33%;
  }
}

@media only screen and (max-width: 991px) {
  .a-box {
    width: 49%;
  }
}

@media only screen and (max-width: 575px) {
  .a-box {
    width: 49%;
  }

  .nav-bar.active {
    height: 425px;
    width: 100%;
  }
}

@media only screen and (max-width: 551px) {
  .a-box {
    width: 100%;
  }

  .text-container {
    width: 100%;
  }

  .nav-bar.active {
    height: 425px;
    width: 100%;
  }

  #map {
    width: 10%;
  }

  .hrclass {
    margin: 10px 0;
  }
}

@media only screen and (max-width: 1199px) {
  #map {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 1358px) {
  .topbar-social-icons {
    display: none !important;
  }
}

@media only screen and (max-width: 414px) {
  #productheader {
    font-size: 40px !important;
  }
}

@media only screen and (max-width: 280px) {
  #productheader {
    font-size: 24px !important;
  }

  #productwoodheader {
    font-size: 18px !important;
  }

  .contact-list {
    font-size: 8px;
  }

  .social-media-list {
    margin-left: 20px;
  }

  .hrclass {
    margin: 40px !important;
  }

  #socialheader {
    margin-bottom: 10px !important;
  }
}

@media only screen and (max-width: 375px) {
  .hrclass {
    margin: 40px !important;
  }
}

@media only screen and (max-width: 375px) {
  .direct-contact-container {
    padding-left: 45px;
  }

  #socialheader {
    margin-bottom: 0px !important;
  }
}

@media only screen and (max-width: 1300px) {
  .hrclass {
    margin: 50px !important;
  }
}
