* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Google Sans Regular";
  scroll-behavior: smooth;
}

body {
  background-color: #fefefe;
}

header {
  width: 100%;
  height: 100px;
  background: rgb(220, 28, 66);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.logo {
  width: 100px;
}

.hamburger {
  display: none;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li a {
  display: block;
  color: white;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
  text-decoration: none;
}

.nav-bar ul li a:hover {
  color: white;
  background: black;
  cursor: pointer;
}

@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }

  .logo {
    width: 75px;
  }
}

@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #fefefe;
    margin: 6px 0;
  }

  .nav-bar {
    height: 0px;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0%;
    width: 100vw;
    background: #11101b;
    transition: 0.2s;
    overflow: hidden;
  }

  .nav-bar.active {
    height: 325px;
  }

  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.3s;
    opacity: 0;
  }

  .nav-bar.active ul {
    opacity: 1;
  }

  .nav-bar ul li a {
    margin-bottom: 12px;
  }
}

.content-ul {
  list-style: none;
  max-width: 1200px;
  margin: 0 auto;
}

.content-ul .content-li {
  float: left;
  width: 25%;
  height: 600px;
  opacity: 0.5;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.content-ul .content-li:hover,
.content-ul .content-li:first-child~.content-li:last-child {
  width: 50%;
  opacity: 1;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.content-ul .content-li:hover~.content-li:last-child {
  width: 25%;
  opacity: 0.5;
}

.content-ul .content-li:nth-child(4) {
  background: url("https://dl.dropbox.com/s/mbho5bqfofk6g99/pic.jpg") top center no-repeat;
}

.content-ul .content-li:nth-child(3) {
  background: url("https://dl.dropbox.com/s/kioimintl0v9l4d/pic.jpg") top right no-repeat;
}

.content-ul .content-li:nth-child(2) {
  background: url("https://dl.dropbox.com/s/7a60gndncwf81x8/pic.jpg") top center no-repeat;
}

.content-ul .content-li:nth-child(1) {
  background: url("https://dl.dropbox.com/s/7a60gndncwf81x8/pic.jpg") top center no-repeat;
}

/** Layout fixes **/
.credits a {
  margin-right: calc((100% - 1230px) / 2);
}

@media (max-width: 1240px) {
  .credits a {
    margin-right: 0px;
  }
}

/*Acco*/
.ac-container {
  max-width: 66.8%;
}

.ac-container label {
  height: 50px !important;
  line-height: 21px !important;
  font-size: 18px !important;
  font-family: "Open Sans", "Arial Narrow", Arial, sans-serif !important;
  padding: 5px 20px;
  position: relative;
  z-index: 20;
  display: block;
  height: 30px;
  cursor: pointer;
  color: black;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
  line-height: 33px;
  font-size: 19px;
  background: #fff;
  background: -moz-linear-gradient(top, #fff 1%, #eaeaea 100%);
  background: -webkit-linear-gradient(top, #fff 1%, #eaeaea 100%);
  background: -o-linear-gradient(top, #fff 1%, #eaeaea 100%);
  background: -ms-linear-gradient(top, #fff 1%, #eaeaea 100%);
  background: linear-gradient(top, #fff 1%, #eaeaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#eaeaea', GradientType=0);
  box-shadow: 0 0 0 1px rgba(155, 155, 155, 0.3), 1px 0 0 rgba(255, 255, 255, 0.9) inset, 0 2px 2px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  height: 30px;
  line-height: 20px;
}

.ac-container-header {
  font-size: 26px;
  margin-top: 5px;
}

.ac-container {
  width: 100%;
  margin: 10px auto 30px auto;
  text-align: left;
}

.ac-container label:hover {
  background: rgb(80, 80, 80);
  color: white;
}

.ac-container input:checked+label,
.ac-container input:checked+label:hover {
  background: #f1f2f3;
  color: rgb(80, 80, 80);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 1px rgba(155, 155, 155, 0.3), 0 2px 2px rgba(0, 0, 0, 0.1);
  height: 30px;
  line-height: 21px;
  font-size: 13px;
}

.ac-container label:hover:after,
.ac-container input:checked+label:hover:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px;
  background: transparent url(../images/arrow_down.png) no-repeat center center;
}

.ac-container input:checked+label:hover:after {
  background-image: url(../images/arrow_up.png);
}

.ac-container input {
  display: none;
}

.ac-container article {
  background: rgba(255, 255, 255, 0.5);
  margin-top: -1px;
  overflow-y: scroll;
  height: 0;
  position: relative;
  z-index: 10;
  -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-container article p {
  font-style: normal;
  color: #777;
  line-height: 23px;
  font-size: 10px;
  padding: 20px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
  font: normal normal 12px "Open Sans";
}

.ac-container input:checked~article {
  -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  box-shadow: 0 0 0 1px rgba(155, 155, 155, 0.3);
}

.ac-container input:checked~article.ac-small {
  height: 385px;
}

.ac-container input:checked~article.ac-medium {
  height: 385px;
}

.ac-container input:checked~article.ac-large {
  height: 385px;
}

.card {
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 30%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.product {
  display: flex !important;
  flex-wrap: wrap !important;
  flex-direction: row !important;
}



@media screen and (min-width: 576px) {
  .card {
    width: 100%;
    margin: 10px;
  }
}

@media screen and (max-width: 576px) {
  .card {
    width: 80%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .card {
    width: 46.8%;
  }
}

@media screen and (min-width: 1400px) {
  .card {
    width: 31.7%;
  }
}