* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Google Sans Regular";
}
body {
  background-color: #fefefe;
}
header {
  width: 100%;
  height: 100px;
  background: rgb(33, 31, 31);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}
.logo {
  width: 100px;
}
.hamburger {
  display: none;
}
.nav-bar ul {
  display: flex;
}
.nav-bar ul li a {
  display: block;
  color: white;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
  text-decoration: none;
}
.nav-bar ul li a:hover {
  color: #11101b;
  background: #fefefe;
}

@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
  .logo {
    width: 75px;
  }
}
@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #fefefe;
    margin: 6px 0;
  }
  .nav-bar {
    height: 0px;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0%;
    width: 100vw;
    background: #11101b;
    transition: 0.2s;
    overflow: hidden;
  }
  .nav-bar.active {
    height: 325px;
  }
  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.3s;
    opacity: 0;
  }
  .nav-bar.active ul {
    opacity: 1;
  }
  .nav-bar ul li a {
    margin-bottom: 12px;
  }
}

.content-ul {
  list-style: none;
  max-width: 1200px;
  margin: 0 auto;
}
.content-ul .content-li {
  float: left;
  width: 25%;
  height: 600px;
  opacity: 0.5;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.content-ul .content-li:hover,
.content-ul .content-li:first-child ~ .content-li:last-child {
  width: 50%;
  opacity: 1;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.content-ul .content-li:hover ~ .content-li:last-child {
  width: 25%;
  opacity: 0.5;
}
.content-ul .content-li:nth-child(4) {
  background: url("https://dl.dropbox.com/s/mbho5bqfofk6g99/pic.jpg") top center no-repeat;
}
.content-ul .content-li:nth-child(3) {
  background: url("https://dl.dropbox.com/s/kioimintl0v9l4d/pic.jpg") top right no-repeat;
}
.content-ul .content-li:nth-child(2) {
  background: url("https://dl.dropbox.com/s/7a60gndncwf81x8/pic.jpg") top center no-repeat;
}
.content-ul .content-li:nth-child(1) {
  background: url("https://dl.dropbox.com/s/7a60gndncwf81x8/pic.jpg") top center no-repeat;
}

/** Layout fixes **/
.credits a {
  margin-right: calc((100% - 1230px) / 2);
}

@media (max-width: 1240px) {
  .credits a {
    margin-right: 0px;
  }
}
